{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "~": "./src/app"
        }
      }
    ],
    ["@babel/plugin-proposal-object-rest-spread"]
  ]
}
